<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/header.ejs </template>%>
    <h1><%= title %></h1>

    <p>Welcome to <%= title %></p>
	
	<form method="post" action="/">
	<br>	Username: 
    <input type="text" name="username"><br>

    <br>	Age		:
    <input type="number" name="age"><br>

    <br><input type="submit" value="Submit"><br>
	</form>

  </body>
</html>
