<!DOCTYPE html>
<html lang="en">
<head>
  <title>Customer Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">

  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>
<!-- navbar shiz -->

<nav class="navbar-fluid navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">BogusFitnessClub</a>
    </div>
    <!-- <div class="collapse navbar-collapse" id="myNavbar"> -->
      <ul class="nav navbar-nav navbar-right">      
        <li><a href="/about"> About Us</a></li>
        <li><a href="#"> Contact Us</a></li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    <!-- </div> -->
  </div>
</nav>

<!-- profile side bar for receptionist-->

  
<div class="container-fluid">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <div class="profile-user-pic">
          <img src="profile.png" alt="can't find image" class="img-responsive img-circle">
        <div class="profile-user-title">
          <!-- <br> -->
          <div class="profile-user-name">
            <h2>
              <%=user.emp_name%>
            </h2>
          </div>
          <div class="profile-user-job">
            <%=user.job%>
          </div>
        </div>
        <br>
        <!-- <div class="profile-user-buttons"> -->
          <!-- <button class="btn btn-success btn-sm">randome</button> -->
        <!-- </div> -->
        <div class="profile-user-menu">  
          <!-- check above -->
           <ul class="nav">
             <li><a href="/empprofile"><i class="glyphicon glyphicon-user"></i>  Employee Profile</a>
             <!-- <li class="active"><a href="">Profile</a> -->
             <%if(type == 'Receptionist'){%>
                <li class="active"><a href="/newuser"><i class="glyphicon glyphicon-plus"></i>   New Users</a>
                <li><a href="/attlog"><i class="glyphicon glyphicon-th-list"></i>   Attendance Log</a>
                <li><a href="/balance"><i class="glyphicon glyphicon-th-list"></i>   Add Balance</a>
             <%}%>
             <%if(type == 'Manager'){%>
                <li class="active"><a href="/newuser"><i class="glyphicon glyphicon-plus"></i>   New Users</a>
                <li><a href="/newemp"><i class="glyphicon glyphicon-plus"></i>   New Employees</a>
             <%}%>
             <br>
             <!-- <li><a href=""><i class="glyphicon glyphicon-envelope"></i>   Feedback</li></a> -->
           </ul>
        </div>
      </div>
    </div>
  </div>

<!-- jumbotron -->
<div class="col-md-8">
  <div class="container">
    <div class="jumbotron">
      <h1>User Registration</h1>
      <h3> </h3>
      <div class="container">
                                <% if(flash.length > 0 ){%>
                        <p> <%=flash%> </p>
                        <%}%>
        <!-- <h3>Please contact BogusFitnessClub in case of any issues with the following details.</h3> -->
        <br>
        <div class="col-md-8">  
        <form method="post" action="/newuser">
  <br>  Username: 
    <input type="text" name="username"><br>

    
  Sex: 
    <div>
    <input type="radio" id="sexChoice1"
     name="sex" value="M">
    <label for="sexChoice1">Male</label>

    <input type="radio" id="sexChoice2"
     name="sex" value="F">
    <label for="sexChoice2">Female</label>

    </div>
    <br>

    <br>  Age   :
    <input type="number" name="age"><br>
    <br> PhNo : 
    <input type="number" name="phno"><br>
    <br> Address : 
    <input type="text" name="address"><br>
    <br> Email
    <input type="email" name="email"><br>
  <br>
  <br>  Sub Dur :
    <input type="number" name="subd"><br>

  <br>
  Sub Type : 
    <div>
    <input type="radio" id="subChoice1"
     name="sub" value="1001">
    <label for="subChoice1">Platinum</label>
  
  <input type="radio" id="subChoice2"
     name="sub" value="2001">
    <label for="subChoice2">Gold</label>

  <input type="radio" id="subChoice3"
     name="sub" value="3001">
    <label for="subChoice3">Silver</label>
    </div>

    <br>
  
  <br>
  <br>  Trainer :
    <input type="number" name="trainer"><br>
  
  <br>

  <br>  Enter Password :
    <input type="password" name="pass1"><br>
  
  <br>
  <br>  Re-enter Password :
    <input type="password" name="pass2"><br>
  
  <br>

    <br><input type="submit" value="Submit"><br>
  </form>   
  <%for(var i =0 ; i < flash.length ;i++){%>
    <%=flash[1]%>
    <%}%>       
    </div>
    </div>      
  </div>
</div>
</div>


</body>
</html>

