<!DOCTYPE html>
<html>
  <head>
    <title>User Reg</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include templates/header.ejs </template>%>
    <h1>User Reg</h1>

    <p>Welcome to User Reg</p>

  <form method="post" action="/signin">
  <br>  UserID: 
    <input type="number" name="username"><br>

  

  <br>  Enter Password :
    <input type="password" name="password"><br>
  
  <br>


    <br><input type="submit" value="Submit"><br>
  </form>

  </body>
</html>
