<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fitness</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="/stylesheets/login_font.css" rel="stylesheet" type="text/css">    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/stylesheets/login.css" rel="stylesheet" type="text/css" >
    <style>
            body {
                background-image: url("/images/bg.jpg");
            }
    </style>
</head>
<body>
       <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">FITNESS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                  <div class="navbar-nav">
                    <a class="nav-item nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link " href="#">Features <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="#">About</a>
                  </div>
                  <div class="navbar-nav ml-auto">
                        <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                  </div>
                </div>
        </nav> -->
       <!-- <% include templates/header.ejs </template>%> -->
        <section class="container">
            

                <section class="login-form">
                    
                    <form method="post" action="/signin" role="login">
                        <img src="/images/comp.png" class="img-responsive" alt="" />
                        <%if (flash.length > 0 ){%>
                          <p> <%=flash%>
                          Hello </p>
                          <%}%> 
                        <input type="number" name="username" placeholder="User-id" required class="form-control input-lg" />
                        <input type="password" name="password" placeholder="Password" required class="form-control input-lg" />
                        <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
                    
                    </form>
                </section>
        </section>
        
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        
</body>
</html>

