<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include templates/header.ejs </template>%>
    <h1><%= title %></h1>

    <p>Welcome to <%= title %></p>
	
	<form method="post" action="/">
	<br>	Username: 
    <input type="text" name="username"><br>

    
	Sex: 
    <div>
    <input type="radio" id="sexChoice1"
     name="sex" value="M">
    <label for="sexChoice1">Male</label>

    <input type="radio" id="sexChoice2"
     name="sex" value="F">
    <label for="sexChoice2">Female</label>

  	</div>
  	<br>

  	<br>	Age		:
    <input type="number" name="age"><br>
	
	<br>
	<br>	Sub Dur	:
    <input type="number" name="subd"><br>

	<br>
	Sub Type : 
    <div>
    <input type="radio" id="subChoice1"
     name="sub" value="1001">
    <label for="subChoice1">Platinum</label>
	
	<input type="radio" id="subChoice2"
     name="sub" value="2001">
    <label for="subChoice2">Gold</label>

	<input type="radio" id="subChoice3"
     name="sub" value="3001">
    <label for="subChoice3">Silver</label>
  	</div>

  	<br>
	
	<br>
	<br>	Trainer	:
    <input type="number" name="trainer"><br>
	
	<br>

    <br><input type="submit" value="Submit"><br>
	</form>

  </body>
</html>
