.login-form {
    font: 16px/2em Lato, serif;
	margin: 100px auto;
	max-width: 400px;
}

form[role=login] {
	color: #5d5d5d;
	background: rgba(1, 1, 1, 0.5);
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
	form[role=login] img {
		display: block;
		margin: 0 auto;
		margin-bottom: 35px;
	}
	form[role=login] input-group,
	form[role=login] button {
		font-size: 18px;
		margin: 16px 0;
		/*padding-bottom: 10px;*/
		margin-bottom: 5px;
	}
	form[role=login] > div {
		text-align: center;
	}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}
	.form-links a {
		color: #fff;
	}