body{
	background: #f1f3fa;
	overflow-y: scroll;
	overflow-x: hidden;
}
.jumbotron{
	background-color: #f1f3fa;
	align-content: left;
	align-self: left;
}
.navbar-header a{
	font-size: 25px;
}
.profile{
	margin: 20px 0;
}
.profile-sidebar{
	padding: 20px 0 10px 0;
	/*background: #fff;*/
}
.profile-user-pic{
	align-self: center;
	float: none;
	margin: 0 auto;
	width: 50%;
	height: 50%;
}
.profile-user-title{
	text-align: center;
	margin-top: 20px;
}
.profile-user-name{
	text-align: center;
	color: #5a73a1;	
	font-size: 18px; 
	font-weight: 600;
	margin-bottom: 7px;
}
.profile-user-job{
	text-align: center;
	color: #5babd1;
	font-size: 15px;
	weight:600;
	margin-bottom: 15px: 
}
.profile-user-menu{
	/*align-self: : left;*/
	margin-top: 30px;
	width: 210px;
}
ul li{
	border-bottom: 2px solid #f0f4f7 !important;
}
.profile-user-menu ul li a{
	color: #93a3b5;
	font-size: 17px;
	font-weight: 400;
}
.profile-user-menu ul li i{
	margin-right: 8px;
	font-size: 16px;
}
.profile-user-menu ul li a:hover{
	background-color: #fafcfd;
	color: #5babd1;
}
li.active a{
	color: #5babd1;
	background-color: #f6fafb;
	border-left: 2px solid #5babd1;
	margin-left: -3px;	
}
li{
	border-bottom: 1px solid #f6f4f7;
}
.profile-content{
	padding: 20px;
	background: #fff;
	min-height: 460px;
}
.table-hover{
	font-size: 17px;
	/*align-self: left;*/
}
.alert{
    color: #ff0000;
}
::-webkit-scrollbar{
	width: 0px;
	overflow: hidden;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0);
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #f1f3fa;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);	
}